/* Основной цвет текста (Primary text color) rgba(0, 0, 0, 0.8); */
/* Вторичный цвет (secondary text color) #000000; */
/* Белый  #ffffff; */
/* accent #18A0FB;*/
/* цвет фона (primary background color) #ffffff;  */
/* вторичный цвет фона(secondary background color) #F5F5F5; */

:root {
	--primery-text-color: rgba(0, 0, 0, 0.8);
	--secondary-text-color: #000000;
	--accent-color: #18a0fb;
	--prymery-white-color: #ffffff;
	--tittle-text-color: #000000;
	--secondary-bg-color: grey;
}

.page {
	color: var(--primery-text-color);
	background-color: var(--prymery-white-color);
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

/* button */

.button {
	color: var(--tittle-text-color);
	background-color: var(--prymery-white-color);
}

.logo {
	color: var(--secondary-text-color);
}

.logo:hover {
	color: var(--accent-color);
}

.section .title {
	color: var(--tittle-text-color);
}

.button.primary {
	background-color: var(--prymery-white-color);
	color: var(--accent-color);
}

.button.secondary {
	background-color: var(--accent-color);
	color: var(--prymery-white-color);
}

/* header  */

.header {
	background-color: var(--secondary-bg-color);
}

.header-nav .link {
	color: var(--accent-color);
}

.header-nav .link:hover,
.header-nav .link:focus {
	color: var(--secondary-text-color);
}

.section .title {
	color: var(--tittle-text-color);
}

/* hero */

.hero-title {
	color: var(--tittle-text-color);
}

/* Span */

.span .link {
	color: var(--accent-color);
}

.span .link:hover,
.span .link:focus {
	color: var(--primery-text-color);
}

/* Exempels */

.exempels .title {
	color: var(--tittle-text-color);
}
