/* Основной цвет текста (Primary text color) rgba(0, 0, 0, 0.8); */
/* Вторичный цвет (secondary text color) #000000; */
/* Белый  #ffffff; */
/* accent #18A0FB;*/
/* цвет фона (primary background color) #ffffff;  */
/* вторичный цвет фона(secondary background color) #F5F5F5; */
/* 
!font-family: 'Comfortaa', cursive;
!font-family: 'Inter', sans-serif;
!font-family: 'Montserrat', sans-serif; */

:root {
	--primery-text-color: rgba(0, 0, 0, 0.8);
	--secondary-text-color: #000000;
	--accent-color: #18a0fb;
	--prymery-white-color: #ffffff;
	--tittle-text-color: #000000;
	--secondary-bg-color: grey;
	--primery-bg-color: #ffffff;
}

body {
	font-family: "Montserrat", sans-serif;
	letter-spacing: -0.015em;
	font-size: 18px;

	color: var(--primery-text-color);
	background-color: var(--prymery-white-color);
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

/* button */

.button {
	font-family: inherit;
	letter-spacing: -0.015em;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.2;

	background-color: var(--prymery-white-color);
}

.logo {
	font-family: "Comfortaa", cursive;
	font-size: 28px;
	line-height: 1.14;
	letter-spacing: -0.015em;
	color: var(--secondary-text-color);
}

.logo:hover {
	color: var(--accent-color);
}

.section .title {
	color: var(--tittle-text-color);
}

.button.primery {
	background-color: var(--prymery-white-color);
	color: var(--accent-color);
}

.button.secondary {
	background-color: var(--accent-color);
	color: var(--prymery-white-color);
}

/* header  */

.header {
	background-color: var(--secondary-bg-color);
}

.header-nav .link {
	font-weight: 500;
	font-size: 15px;
	line-height: 1.2;
	letter-spacing: -0.015em;

	color: var(--accent-color);
}

.header-nav .link:hover,
.header-nav .link:focus {
	color: var(--secondary-text-color);
}

.section-title {
	font-weight: 400;
	font-size: 48px;
	line-height: 1.5;
	letter-spacing: -0.015em;
	text-align: center;
	color: var(--tittle-text-color);
}

/* hero */

.hero-title {
	font-weight: 400;
	font-size: 56px;
	line-height: 1.43;
	text-align: center;
	letter-spacing: -0.015em;
	color: var(--tittle-text-color);
}

/* Span */

.span .title {
	font-size: 24px;
	line-height: 1.5;
	letter-spacing: -0.015em;

	color: var(--tittle-text-color);
}

.span-list .text {
	line-height: 1.67;
}

.span .link {
	color: var(--accent-color);
}

.span .link:hover,
.span .link:focus {
	color: var(--primery-text-color);
}

/* Exempels */

.exempels .title {
	font-size: 24px;
	line-height: 1.5;
	letter-spacing: -0.015em;
	color: var(--tittle-text-color);
}

/* Worklist */

.section .after-title {
	font-weight: 400;
	font-size: 36px;
	line-height: 1.39;
	letter-spacing: -0.015em;
}

.work-list .title {
	font-size: 24px;
	line-height: 1.5;
	letter-spacing: -0.015em;
}
